{% extends 'base.html' %}

{% block title %}
    Editar Empleado
{% endblock title %}


{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x" style="margin-top: 10px;">
        <h3 class="cell">Modificar Empleado: {{ empleado.full_name }}</h3>
        <div class="cell">
            <form class="cell callout grid-x grid-margin-x" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="cell large-6 ">
                    <label>Nombres:
                        {{ form.first_name }}
                    </label>
                </div>
                <div class="cell large-6 ">
                    <label>Apellidos:
                        {{ form.last_name }}
                    </label>
                </div>
                <div class="cell large-6 ">
                    <label>Trabajo:
                        {{ form.job }}
                    </label>
                </div>
                <div class="cell large-6 ">
                    <label>Área:
                        {{ form.departamento }}
                    </label>
                </div>
                <div class="cell large-6 ">
                    <label>Habilidades extra:
                        {{ form.habilidades }}
                    </label>
                </div>
                <div class="medium-12 cell">
                    <label>Foto:
                      {{ form.avatar }}
                    </label>
                </div>
                <div class="cell">
                    <button type="submit" class="submit success button">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}


