{% extends 'base.html' %}

{% block title %}
    Registrar Departamento
{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x" style="margin-top: 10px;">
       <h3 class="cell">Registrar Departamento</h3>
<!--        'enctype="multipart/form-data"' es para que la imagen se guarde tb en el admin.-->
       <form class="cell callout grid-x grid-margin-x " method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="medium-6 cell">
                <label>Nombres:
                  {{ form.nombre }}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Apellidos:
                  {{ form.apellidos }}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Departamento:
                  {{ form.departamento }}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Abreviación dep:
                  {{ form.shorname }}
                </label>
            </div>
            <div class="medium-2 cell">
                <button type="submit" class="button success">Guardar</button>
            </div>
           <div class="medium-2 cell">
                <a href="{% url 'persona_app:inicio' %}" class="submit alert button">Cancelar</a>
            </div>
       </form>
    </div>
</div>
{% endblock content %}

