<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">

    <title>
        {% block title %}

        {% endblock title %}

    </title>
</head>
<body>
    {% block content %}

    {% endblock content %}

    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.min.js' %}"></script>
    <script>
      $(document).foundation();
    </script>
    <br>
    <br>
    <footer class="callout" style="text-align: center;">
        <h6 style="color: brown;" >App Web Python - FWK Django 4.2 - Abril 2023</h6>
        <h6>Desarrollada por: Leandro Amendolara</h6>
        <h6><a href="https://www.linkedin.com/in/leandro-amendolara-aa853011b/">Perfil Linkedin</a></h6>
    </footer>
    <br>
    <br>
</body>

<!--<br>-->
<!--<br>-->
<!--<div class="grid-x align-center">-->
<!--    <footer class="cell large-3 align-center callout small" style="text-align: center;">-->
<!--        <h6 class="cell" style="color: brown;" >App Web Python - FWK Django 4.2 - Abril 2023</h6>-->
<!--        <h6 class="cell">Desarrollada por Leandro Amendolara</h6>-->
<!--        <h6 class="cell"><a href="https://www.linkedin.com/in/leandro-amendolara-aa853011b/">Perfil Linkedin</a></h6>-->
<!--    </footer>-->
<!--</div>-->
<!--<br>-->
<!--<br>-->

</html>